.footer{
    width:100% ;
    height:700px ;
    background-color:#5B0C4E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    color: rgb(175,175,175);
    font-size: smaller;
}

.footer-container{
    max-width: 950px;
    min-width:950px;
    display: flex;
    gap:40px;
    padding:20px;
    justify-content: space-between;
    border-bottom: solid 1px grey;
    margin:20px auto;
}
.footer-container-sub1{
    display: flex;
    gap:40px;
    padding:20px;
    justify-content: space-between;
    /* border: solid 1px red; */
}


.footer-logo{
    display: flex;
    align-items: center;
    gap:5px;
}
.footer-company{
    font-size: 40px;
    font-style: italic;
}

.footer-block{
    padding: 5px;
    line-height: 200%;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.first-block{
    line-height: 150%;
    gap:30px;
    max-width:250px;
}
.social{
    display: flex;
    gap:10px;
}


.footer-block-title{
    color: white;
    font-weight: bold;
}

.footer-end{
    display: flex;
    justify-content: space-between;
    min-width: 900px;
    /* border:solid 1px red; */
}

.footer-end-left{
    display: flex;
    gap:10px;
}

.input{
    min-width: 250px;
    background-color: transparent;
    border-radius: 10px;
    padding:10px;
    border:solid 1px grey;
    color: white;
    outline: none;
}

@media only screen and (max-width:500px) {
   .footer{
       background-color:#5B0C4E;
       display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:10px;
        color: rgb(175,175,175);
        
        width:none ;
        max-width: 500px;
        font-size: small;
        height:max-content;
    }

    .footer-container{
        display: flex;
        gap:40px;
        justify-content: space-between;
        border-bottom: solid 1px grey;
        margin:20px auto;
        
        padding:0px;
        flex-direction: column;
        min-width:none;
        max-width:none;
    }
    .footer-container-sub1{

        padding:0px 20px;
        flex-direction: column;
        /* border: solid 1px red; */
        max-width: 500px;
    }


    .footer-logo{
        display: flex;
        align-items: center;
        gap:5px;
    }
    .footer-company{
        font-size: 40px;
        font-style: italic;
    }

    .footer-block{
        margin: 0px 50px;
        width: 150px;;
    }

    .first-block{
        gap:30px;
        width:300px;
        margin: 0px 50px;
    }

    .footer-end{
        gap: 15px;
        text-align: left;
        width: fit-content;
        margin: auto;
        justify-content: space-evenly;
        min-width: none;
        flex-direction: column;
        padding: 10px;
        flex-wrap: wrap;
    }

    .footer-end-left{
        gap:10px;
        font-size: x-small;
    }

    .input{
        min-width: 100px;
    } 
}